{% extends "base.html" %}
{% load pages_tags mezzanine_tags keyword_tags i18n staticfiles bootstrap3 %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}
{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}
{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/boat.css" %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(){
        if($('#layer-sidecut img').attr('rel')){
            target = $('#layer-sidecut img');
            target.mouseover(function(){
                rel = target.attr('rel');
                src = target.attr('src');
                target.attr('src',rel).attr('rel',src);
            });
            target.mouseout(function(){
                rel = target.attr('rel');
                src = target.attr('src');
                target.attr('src',rel).attr('rel',src);
            });
        }
        // sizeBoatImg();
    });
    $(window).load(function(){
        {% if boat.price != 'non spécifié' and boat.price != "" %}
            setTimeout(function(){
                $('#price-trigger').removeClass('fade');
            },1500);
            $('#price-trigger').click(function(){
                if($('#price').attr('rel') != 'OFF'){
                    $('#price').removeClass('btn').fadeOut().css('border-color','white');
                    rel = $('#price-trigger').attr('rel');
                    setTimeout(function(){
                        $('#price').attr('rel','OFF');
                        $('#price-trigger').removeAttr('href');
                        $('#price').html(rel);
                    }, 500);
                    $('#price').fadeIn();
                }
            });
        {% endif %}
    });
    function sizeBoatImg(){
        $('#layer-sidecut img').height($(window).height()*0.66);
    }
</script>
{% endblock %}

{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
    <!-- Modal CONTACT -->
    <div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="modal-contact-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="modal-contact-label">
                        Contact
                    </h4>
                </div>
                <div class="modal-body">
                    <h3 class='text-center' style='margin: 15px 0;'>
                        {% if LANGUAGE_CODE == 'fr' %}
                        Merci de remplir ce formulaire afin que nous puissions vous recontacter.
                        {% else %}
                        Please fill this form and we will contact shortly. 
                        {% endif %}
                    </h3>
                    <form method='POST' action='{% url 'contact' %}' class='text-left'>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type='hidden' name='hiddenSource' value='Boat' />
                        <input type='hidden' name='hiddenTarget' value='{{ boat.id }}' />
                        {% buttons %}
                            <button type="submit" class="btn btn-default" style='margin-top:10px;'>
                                {% if LANGUAGE_CODE == 'fr' %}Envoyer{% else %}Send{% endif %}
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>-
    </div>
    <!-- ./ Modal CONTACT -->
    {% if not boat.occasion %}
        <div id='liner' class='red'></div>
        <div id='boat1' class='container'>
            <div class='col-md-12'>
                <h1>{{ boat.title|upper }}</h1>
            </div>
            <div class='{% if boat.price == 'non spécifié' or not boat.price %}col-md-12{% else %}col-md-6 col-sm-6 col-xs-6{% endif %}'>
                <h3 class='text-muted'>
                    <i class='fa fa-long-arrow-right'></i> {{ boat.baseline }}
                </h3>
            </div>
            {% if boat.price != 'non spécifié' and boat.price != "" %}
            <div class='col-md-6 col-sm-6 col-xs-6 text-right'>
                <h3 class='text-muted'>
                    <a id='price-trigger' class='fade' href='javascript:void(0)' rel='{{ boat.price }}'>
                        <btn id='price' class='btn btn-default btn-sm'>
                            {% if LANGUAGE_CODE == 'fr' %}Révéler le prix{% else %}Show price{% endif %}
                        </btn>
                    </a>
                </h3>
            </div>
            <div class='col-md-12' style='height:0px;'></div>
            {% endif %}
            <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center'>
                <div id='layer-sidecut'>
                    <img class='loader' src='{{ MEDIA_URL }}{{ boat.sidecut_image }}' alt='plan coupe bateau' {% if boat.sidecut_image_2 %}rel='{{ MEDIA_URL }}{{ boat.sidecut_image_2 }}'{% endif %}/>
                </div>
                <btn class='btn btn-default btn-contact' href='javascript:void(0)' data-toggle="modal" data-target="#modal-contact">
                    {% if LANGUAGE_CODE == 'fr' %}
                        Contactez nous au sujet de ce modèle.
                    {% else %}
                        Contact us about this boat
                    {% endif %}
                </btn>
            </div>
            <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>
                <h4>{% if LANGUAGE_CODE == 'fr' %}CARACTERISTIQUES TECHNIQUES{% else %}SPECIFICATIONS{% endif %}</h4>
                <div id='info-block'>
                    {% if boat.architecte %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Architecte :{% else %}Architect:{% endif %} <strong>{{ boat.architecte }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.longueur_HT %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Longueur H.T. :{% else %}Overall Length:{% endif %} <strong>{{ boat.longueur_HT }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.longueur_coque %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Longueur coque :{% else %}Hull length:{% endif %} <strong>{{ boat.longueur_coque }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.largeur %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Largeur :{% else %}Beam:{% endif %} <strong>{{ boat.largeur }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.tirant_eau %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Tirant d'eau :{% else %}Draft:{% endif %} <strong>{{ boat.tirant_eau }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.deplacement %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Déplacement :{% else %}Displacement:{% endif %} <strong>{{ boat.deplacement }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.lest %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Lest :{% else %}Keel:{% endif %} <strong>{{ boat.lest }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.surface_voile %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Surface de voile standard :{% else %}Sail area:{% endif %} <strong>{{ boat.surface_voile }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.spi %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Spi :{% else %}Spinnaker area:{% endif %} <strong>{{ boat.spi }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.motorisation %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Motorisation :{% else %}Engine:{% endif %} <strong>{{ boat.motorisation }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.capacite_carburant %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Capacité carburant :{% else %}Oil tank:{% endif %} <strong>{{ boat.capacite_carburant }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.capacite_eau %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Capacité eau :{% else %}Water tank:{% endif %} <strong>{{ boat.capacite_eau }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.cabines %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Cabines :{% else %}Berths:{% endif %} <strong>{{ boat.cabines }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.certification_CE %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Certification C.E. :{% else %}C.E. certifications:{% endif %} <strong>{{ boat.certification_CE }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.association_classe %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Association de classe :{% else %}Class association:{% endif %}
                        <strong>
                        {% if 'www' in boat.association_classe or 'http' in boat.association_classe %}
                            <a href='//{{ boat.association_classe }}' target='blank' >{{ boat.association_classe }}</a>
                        {% else %}
                            {{ boat.association_classe|richtext_filters|safe  }}
                        {% endif %}
                        </strong>
                    </div>
                    {% endif %}
                </div>
                {% if documentation_all %}
                <h4>DOCUMENTATION</h4>
                {% for doc in documentation_all %}
                    <a class='doc_box' href='{{ MEDIA_URL}}{{ doc.fileTarget }}' target='blank'>
                        {% if doc.doc_nature%}
                            {{ doc.doc_nature }}
                        {% else %}
                            {{ doc.alternative_doc_nature }}
                        {% endif %}
                    </a>
                {% endfor %}
                {% endif %}
            </div>
            <div id='boat_info' class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                <div class='text-justify'>
                    <h4>PRESENTATION</h4>
                    {{ boat.presentation|richtext_filters|safe }}
                </div>
            </div>
        </div>
        {% if palmares_all %}
        <div id='boat2'>
            <div class='container text-center'>
                <h2 class='text-center'> {% if LANGUAGE_CODE == 'fr' %}PALMARES{% else %}RESULTS{% endif %} </h2>
                <div style='display:inline-block; margin:auto;'>
                {% for palmares in palmares_all %}
                    <div class='trophy'>
                        {{ palmares.year|date:"SHORT_DATE_FORMAT" }}
                        <i class='fa fa-trophy'></i>
                        {{ palmares.course }}
                        <i class='fa fa-long-arrow-right'></i>
                        <span class='resultat'>{{ palmares.resultat }}</span>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <div id='boat3' class='container'>
            <h2 class='text-center'> {% if LANGUAGE_CODE == 'fr' %}GALLERIE{% else %}GALLERY{% endif %} </h2>
            <div class='row'>
            {% for illustration in illustrations %}
                <a href='javascript:void(0)' data-toggle="modal" data-target="#modal-{{ forloop.counter0 }}">
                    <div class='col-md-{{ illustration.display_size }} col-sm-{{ illustration.display_size }} col-xs-12 illustration_boat'>
                        {% if illustration.display_size == 2 %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 200 450 %}")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% elif illustration.display_size == 4 %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 400 450 %}")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% elif illustration.display_size == 6 %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 600 450 %}")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% elif illustration.display_size == 8 %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 800 450 %}")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% elif illustration.display_size == 10 %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 1000 450 %")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% elif illustration.display_size == 12 %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 1200 450 %}")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% else %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 400 450 %}")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% endif %}
                        {# <p>{{ illustration.description }}</p> #}
                        <i class='fa fa-xl fa-expand'></i>
                        <div class='illustration-caption-layer'>
                            <div class='illustration-caption'>{{ illustration.description }}</div>
                        </div>
                    </div>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="modal-{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ forloop.counter0 }}-label">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title text-center" id="modal-{{ forloop.counter0 }}-label">
                                    {% if illustration.description%}
                                        {{ illustration.description }}
                                    {% else %}
                                        illustration {{ forloop.counter }} - {{ boat.title }}
                                    {% endif %}
                                </h4>
                            </div>
                            <div class="modal-body">
                                <img src='{{ MEDIA_URL }}{{ illustration.image }}' alt='illustration full-size' />
                            </div>
                        </div>
                    </div>-
                </div>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <div id='liner' class='occasion'></div>
        <div id='boat1' class='container'>
            <div class='row'>
                <h1 class='fontDown col-md-6 col-sm-6 col-xs-6'>{{ boat.title }}</h1>
                <h1 class='fontDown col-md-6 col-sm-6 col-xs-6 text-right'>
                    {{ boat.price }}
                </h1>
            </div>
            <div class='row'>
                <h3 class='col-md-6 col-sm-6 col-xs-6 text-muted'>
                    <i class='fa fa-long-arrow-right'></i>
                    {{ boat.baseline }}
                </h3>
                <h3 class='col-md-6 col-sm-6 col-xs-6 text-right text-muted'>
                    {% if LANGUAGE_CODE == 'fr' %}Année de construction :{% else %}Built in: {% endif%} <b>{{ boat.annee_construction }}</b>
                </h3>
            </div>
            <div class='col-md-8'>
                <h4> {% if LANGUAGE_CODE == 'fr' %}GALLERIE{% else %}GALLERY{% endif %} </h4>
                <div class='row'>
                {% for illustration in illustrations %}
                    <a href='javascript:void(0)' data-toggle="modal" data-target="#modal-{{ forloop.counter0 }}">
                        <div class='col-md-{{ illustration.display_size }} col-sm-{{ illustration.display_size }} col-xs-12 illustration_boat occasion'>
                        {% if illustration.display_size == 2 %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 160 350 %}")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% elif illustration.display_size == 4 %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 320 350 %}")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% elif illustration.display_size == 6 %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 480 350 %}")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% elif illustration.display_size == 8 %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 640 350 %}")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% elif illustration.display_size == 10 %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 800 350 %")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% elif illustration.display_size == 12 %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 960 350 %}")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% else %}
                            <div class='cropped_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 400 350 %}")'></div>
                            <div class='mobile_illustration' style='background-image:url("{{ MEDIA_URL }}{% thumbnail illustration.image 370 250 %}")'></div>
                        {% endif %}
                            {# <p>{{ illustration.description }}</p> #}
                            <i class='fa fa-xl fa-expand'></i>
                        </div>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="modal-{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ forloop.counter0 }}-label">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title text-center" id="modal-{{ forloop.counter0 }}-label">
                                        {% if illustration.description%}
                                            {{ illustration.description }}
                                        {% else %}
                                            illustration {{ forloop.counter }} - {{ boat.title }}
                                        {% endif %}
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <img src='{{ MEDIA_URL }}{{ illustration.image }}' alt='illustration full-size' />
                                </div>
                            </div>
                        </div>-
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class='col-md-4'>
                <h4>{% if LANGUAGE_CODE == 'fr' %}CARACTERISTIQUES TECHNIQUES{% else %}SPECIFICATIONS{% endif %}</h4>
                <div id='info-block'>
                    {% if boat.architecte %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Architecte :{% else %}Architect:{% endif %} <strong>{{ boat.architecte }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.longueur_HT %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Longueur H.T. :{% else %}Overall Length:{% endif %} <strong>{{ boat.longueur_HT }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.longueur_coque %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Longueur coque :{% else %}Hull length:{% endif %} <strong>{{ boat.longueur_coque }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.largeur %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Largeur :{% else %}Beam:{% endif %} <strong>{{ boat.largeur }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.tirant_eau %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Tirant d'eau :{% else %}Draft:{% endif %} <strong>{{ boat.tirant_eau }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.deplacement %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Déplacement :{% else %}Displacement:{% endif %} <strong>{{ boat.deplacement }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.lest %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Lest :{% else %}Keel:{% endif %} <strong>{{ boat.lest }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.surface_voile %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Surface de voile standard :{% else %}Sail area:{% endif %} <strong>{{ boat.surface_voile }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.spi %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Spi :{% else %}Spinnaker area:{% endif %} <strong>{{ boat.spi }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.motorisation %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Motorisation :{% else %}Engine:{% endif %} <strong>{{ boat.motorisation }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.capacite_carburant %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Capacité carburant :{% else %}Oil tank:{% endif %} <strong>{{ boat.capacite_carburant }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.capacite_eau %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Capacité eau :{% else %}Water tank:{% endif %} <strong>{{ boat.capacite_eau }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.cabines %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Cabines :{% else %}Berths:{% endif %} <strong>{{ boat.cabines }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.certification_CE %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Certification C.E. :{% else %}C.E. certifications:{% endif %} <strong>{{ boat.certification_CE }}</strong>
                    </div>
                    {% endif %}
                    {% if boat.association_classe %}
                    <div class='info-unit'>
                        <i class='fa fa-caret-right'></i>
                        {% if LANGUAGE_CODE == 'fr' %}Association de classe :{% else %}Class association:{% endif %}
                        <strong>
                        {% if 'www' in boat.association_classe or 'http' in boat.association_classe %}
                            <a href='//{{ boat.association_classe }}' target='blank' >{{ boat.association_classe }}</a>
                        {% else %}
                            {{ boat.association_classe|richtext_filters|safe  }}
                        {% endif %}
                        </strong>
                    </div>
                    {% endif %}
                </div>
                <div style='margin:20px 0 0 0';>
                    <btn class='btn btn-default btn-contact' href='javascript:void(0)' data-toggle="modal" data-target="#modal-contact">
                        {% if LANGUAGE_CODE == 'fr' %}
                            Contactez nous au sujet de ce modèle.
                        {% else %}
                            Contact us about this boat
                        {% endif %}
                    </btn>
                </div>
                {% if documentation_all %}
                <h4 style='margin-top:10px;'>DOCUMENTATION</h4>
                {% for doc in documentation_all %}
                    <a class='doc_box' href='{{ MEDIA_URL}}{{ doc.fileTarget }}' target='blank'>
                        {% if doc.doc_nature %}
                            {{ doc.alternative_doc_nature }}
                        {% else %}
                            {{ doc.doc_nature }}
                        {% endif %}
                    </a>
                {% endfor %}
                {% endif %}
            </div>
            <div id='boat_info' class='col-md-12 text-justify' style='margin:15px 0;'>
                <div class='text-justify'>
                    <h4>PRESENTATION</h4>
                    {{ boat.presentation|richtext_filters|safe }}
                </div>
            </div>
        </div>
        {% if palmares_all %}
        <div id='boat2'>
            <div class='container text-center'>
                <h2 class='text-center'> {% if LANGUAGE_CODE == 'fr' %}PALMARES{% else %}RESULTS{% endif %} </h2>
                <div style='display:inline-block; margin:auto;'>
                {% for palmares in palmares_all %}
                    <div class='trophy'>
                        {{ palmares.year|date:"SHORT_DATE_FORMAT" }}
                        <i class='fa fa-trophy'></i>
                        {{ palmares.course }}
                        <i class='fa fa-long-arrow-right'></i>
                        <span class='resultat'>{{ palmares.resultat }}</span>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}














