{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags bootstrap3 staticfiles %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% endif %}{% endblock %}

{% block meta_keywords %}
{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block extra_css %}
<style type="text/css">
    #backgroundDiv{
        background: url("{% static 'img/pagecontact.jpg' %}") no-repeat center center fixed
    }
</style>
{% endblock %}

{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
    <div id='liner'></div>
    <div id='backgroundDiv'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1' style='margin-top:40px; margin-bottom:40px; background-color:white;'>
                    <h1 class='text-center'>CONTACT</h1>
                    <h4 class='text-center' style='margin: 15px 0; color:#777;'>
                        {% if LANGUAGE_CODE == 'fr' %}
                        Merci de remplir ce formulaire afin <br /> que nous puissions vous recontacter.
                        {% else %}
                        Please fill this form and <br />we will contact you shortly. 
                        {% endif %}
                    </h4>
                    {% if success %}
                        <h2 class='text-center'>
                        {% if LANGUAGE_CODE == 'fr' %}
                            Votre demande a bien été prise en compte. <br />
                            Vous serez contacté dans les plus brefs délais. 
                            Merci. 
                        {% else %}
                            Thank you for your message. <br />
                            Someone will contact you shortly to answer your request. 
                        {% endif %}
                        </h2>
                    {% else %}
                        {% if error %}
                            <h1>
                                {% if LANGUAGE_CODE == 'fr' %}
                                    Une erreur s'est produite. <br />
                                    En cas de persistance du problème, vous pouvez nous envoyer un message à l'adresse suivante : <br />
                                    <a href='mailto:info@bgrace.fr'>info@bgrace.fr</a>
                                {% else %}
                                    An error occured. <br />
                                    Should this issue persist 
                                    you can send us a message on this adress : <br >
                                    <a href='mailto:info@bgrace.fr'>info@bgrace.fr</a>
                                {% endif %}
                            </h1>
                        {% endif %}
                        <form method='POST' action='{% url 'contact' %}' class='text-left'>
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% if source %}
                                <input type='hidden' name='hiddenSource' value='{{ source }}' />
                            {% else %}
                                <input type='hidden' name='hiddenSource' value='Contact' />
                            {% endif %}
                            <input type='hidden' name='hiddenTarget' value='{{ boat.id }}' />
                            <div class="form-group">
                                <label for="sel1">
                                    {% if LANGUAGE_CODE == 'fr' %}
                                        Sujet du message
                                    {% else %}
                                        About ?
                                    {% endif %}
                                </label>
                                <select name='sujet' class="form-control" id="sel1">
                                    {% if LANGUAGE_CODE == 'fr' %}
                                        <option value='Divers'>
                                            Divers
                                        </option>
                                        <option value='Bateau Neuf'>
                                            Bateau Neuf
                                        </option>
                                        <option value='Occasion'>
                                            Bateau Occasion
                                        </option>
                                        <option value='SAV'>
                                            Pièces & Entretien
                                        </option>
                                    {% else %}
                                        <option value='Divers'>
                                            Unspecified
                                        </option>
                                        <option value='New Boat'>
                                            New boat
                                        </option>
                                        <option value='Pre-owned Boat'>
                                            Pre-owned boat
                                        </option>
                                        <option value='Spare - maintenance'>
                                            Spare & maintenance
                                        </option>
                                    {% endif %}
                                </select>
                            </div>
                            {% buttons %}
                                <button type="submit" class="btn btn-default" style='margin-top:10px;'>
                                    {% if LANGUAGE_CODE == 'fr' %}Envoyer{% else %}Send{% endif %}
                                </button>
                            {% endbuttons %}
                        </form>
                    {% endif %}
                </div>
                <div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1' style='margin-top:30px; margin-bottom:30px; padding-top:20px; background-color:white; border-top:1px solid #777;'>
                    {% editable page.richtextpage.content %}
                    {{ page.richtextpage.content|richtext_filters|safe }}
                    {% endeditable %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}