{% extends "pages/richtextpage.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.carousel').carousel({
          interval: 8000
        })
        $('.boat_container').mouseover(function(){
            $('#carousel').addClass('opacitize');
            $('.blogPost_box').addClass('opacitize');
            $('.boat_container').addClass('opacitize');
            $(this).removeClass('opacitize');
        });
        $('.boat_container').mouseout(function(){
            $('#carousel').removeClass('opacitize');
            $('.blogPost_box').removeClass('opacitize');
            $('.boat_container').removeClass('opacitize');
        });

    });
</script>
{% endblock %}

{% block main %}
    <div id='carousel'>
        <div id="highlights_carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for element in highlights %}
                    <li data-target="#highlights_carousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for element in highlights %}
                    <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                        <img src='{{ MEDIA_URL }}{% thumbnail element.featured_image 1200 400 %}' alt='illustration highlight {{ element.title }}' />
                        <div class="carousel-caption">
                            <h3 class='carousel_caption_title'>
                                <i class='fa fa-long-arrow-right'></i> {{ element.title|upper }}
                            </h3>
                            <p> {{ element.baseline|lower|capfirst }} </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#highlights_carousel" role="button" data-slide="prev">
                <span class="fa fa-2x fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#highlights_carousel" role="button" data-slide="next">
                <span class="fa fa-2x fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
            {# {% block breadcrumbs %} #}
                {# <ul class="breadcrumb"> #}
                {# {% spaceless %} #}
                {# {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %} #}
                {# {% endspaceless %} #}
                {# </ul> #}
            {# {% endblock %} #}
            </div>
        </div>
    </div>
    {% block title %}{% endblock %}

    <div id='boats' class='container'>
        {% for Boat in Boats %}
            <a href='{{ Boat.get_absolute_url }}' class='boat_container'>
                <h5 class='text-center'>Découvrir</h5>
                <div class='boat_box text-center'>
                    <img src="{{ MEDIA_URL }}{% thumbnail Boat.sidecut_image 200 0 %}" alt='plan coupe bateau' />
                    <h4 class='boat_title'>{{ Boat.title }}</h4>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class='container'>
        <div class='col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 separator'></div>
    </div>

    <div id='blogPosts' class='container'>
        {% for element in last_blogPosts %}
            <div class='col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2'>
                <div class='blogPost_box'>
                    <img src='{{ MEDIA_URL }}{% thumbnail element.featured_image 300 200 %}' />
                    <div class='blogPost_caption'>
                        <h4 class='caption_title'>
                            <i class='fa fa-caret-right'></i>
                            {{ element.title }}
                        </h4>
                        <div class='wing left_wing'></div>
                        <div class='wing right_wing'></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id='distributeurs' class='container'>
        <div class='col-md-7 col-md-offset-1'>
            <div class='row' style='border:1px solid #d0031c;'>
                <div class='col-md-6 box'>
                    <h4 class='text-center'>Trouvez un distributeur</h4>
                    <form>
                        <select>
                            {% for bassin in bassins_navigation %}
                                <option href='{{ bassin.get_absolute_url }}'>{{ bassin.title }}</option>
                            {% endfor %}
                        </select>
                    </form>
                    <h4 class='text-center'>ou</h4>
                    <form>
                        <select>
                            {% for pays in distrib_pays_list %}
                            <option value='{{ pays }}'>{{ pays.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class='col-md-6 box'>
                    <img style='width:100%;' src='{% static 'img/map.jpg' %}' alt='carte distributeurs' />
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div class='box' style='border:1px solid #777;'>
                <img src='{% static 'img/pieces_detachees.jpg' %}' alt='illustration pièces détachées' style='max-width:100%' />
                <p>
                    Toutes les pièces Archambault
                    <br />
                    chez BG RACE
                </p>
            </div>
        </div>
    </div>

{% endblock %}














