{% extends "pages/richtextpage.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(){

        $('.boat_container').mouseover(function(){
            $('.boat_container').addClass('opacitize');
            $(this).removeClass('opacitize');
        });
        $('.boat_container').mouseout(function(){
            $('.boat_container').removeClass('opacitize');
        });

        $('.blogPost_box img').mouseover(function(){
            $('.blogPost_box img').not($(this)).addClass('scale_down');
        });
        $('.blogPost_box img').mouseout(function(){
            $('.blogPost_box img').removeClass('scale_down');
        });
    });
</script>
{% endblock %}

{% block main %}
    <div id='carousel'>
        <div id="highlights_carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for element in highlights %}
                    <li data-target="#highlights_carousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for element in highlights %}
                    <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                        {# <img src="{{ MEDIA_URL }}boat/illustration/{{ element.featured_image }}" alt="illustration highlight {{ element.title }}"> #}
                        <img src='{{ MEDIA_URL }}{% thumbnail element.featured_image 1200 400 %}' alt='illustration highlight {{ element.title }}' />
                        <div class="carousel-caption">
                            {{ element.headline }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#highlights_carousel" role="button" data-slide="prev">
                <span class="fa fa-lg fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#highlights_carousel" role="button" data-slide="next">
                <span class="fa fa-lg fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
            {# {% block breadcrumbs %} #}
                {# <ul class="breadcrumb"> #}
                {# {% spaceless %} #}
                {# {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %} #}
                {# {% endspaceless %} #}
                {# </ul> #}
            {# {% endblock %} #}
            </div>
        </div>
    </div>
    {% block title %}{% endblock %}

    <div id='boats'>
        {% for Boat in Boats %}
            <div class='boat_container'>
                <h5 class='text-center'>Découvrir</h5>
                <div class='boat_box text-center'>
                    <img src="{{ MEDIA_URL }}{% thumbnail Boat.sidecut_image 150 200 %}" alt='plan coupe bateau' />
                    <h4 class='boat_title'>{{ Boat.title }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id='blogPosts' class='container'>
        {% for element in last_blogPosts %}
            <div class='col-md-4'>
                <div class='blogPost_box'>
                    <img src='{{ MEDIA_URL }}{% thumbnail element.featured_image 300 200 %}' />
                    <div class='blogPost_caption'>
                        <h5>{{ element.title }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}














