{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}
{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block extra_css %}
<style type="text/css">
    h1{
        margin: 50px 0;
        font-family: 'Paytone One', sans-serif;
        font-size: 28px;
    }
    .boat-item{
        overflow: hidden;
    }.boat-item img{
        min-width: 100%; 
    }
    .boat-title{
        margin: 5px 0;
    }
    .boat-baseline{
    }
</style>
{% endblock %}

{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
    <div class='container'>
        <div class='row'>
            <h1 class='text-center'>OCCASIONS</h1>
            {% for element in occasions %}
                <div class='col-md-6 col-sm-6 col-xs-12'>
                    <div class='boat-item'>
                        <img src='{{ MEDIA_URL }}{% thumbnail element.illustrations.0.image 400 200 %}' alt='illustration {{ element.title }}' />
                        <h4 class='boat-title'>{{ element.title }}</h4>
                        <div class='boat-baseline'>{{ element.baseline }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}