{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}
{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block extra_css %}
<style type="text/css">
    .boat-item{
        overflow: hidden;
        position: relative;
        margin-top: 25px;
    }
    .boat-price{
        position: absolute;
        right: 0;
        top: 10%;
        width: 33%;
        padding: 4px 6px;
        background-color: #d0031c;
        box-shadow: 0 0 2px 0 rgba(0,0,0,.4);
        font-weight: bold; 
        color: white;
    }
    .boat-item img{
        min-width: 100%; 
    }
    .boat-title{
        margin: 5px 0;
    }
    .boat-baseline{
        color: #777;
    }
</style>
{% endblock %}

{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
    <div id='liner'></div>
    <div class='container'>
        <div class='row'>
            <h1 class='text-center'>{{ page.title }}</h1>
            {% for element in occasions %}
                <div class='col-md-6 col-sm-6 col-xs-12'>
                    <div class='boat-item'>
                        <a href='{{ element.get_absolute_url }}'><div class='boat-price'>{{ element.price }}</div></a>
                        <a href='{{ element.get_absolute_url }}'>
                            <img src='{{ MEDIA_URL }}{% thumbnail element.featured_image 600 300 %}' alt='illustration {{ element.title }}' />
                            <h4 class='boat-title'>{{ element.title }}</h4>
                            <div class='boat-baseline'>{{ element.baseline }}</div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}