    #carousel{
        position: relative;
        z-index: 5;
        padding-bottom: 40px;
        opacity: .75;
        background-color: white;
        -moz-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        transition: all 1s ease-out;
        -webkit-transition-delay: Os;
        -moz-transition-delay: Os;
        -o-transition-delay: Os;
        transition-delay: Os;
    }#carousel:hover{
        opacity: .9;
        -webkit-transition-delay: .66s;
        -moz-transition-delay: .66s;
        -o-transition-delay: .66s;
        transition-delay: .66s;
    }
    .carousel-inner{
        height: 400px;
    }
    .carousel-inner .item img{
        width: 100%;
    }
    .carousel-control .fa{
        position: absolute;
        top: 48%;
    }

    #boats{
        position: relative;
        bottom: 100px;
        height: 280px;
        background-color: transparent;
    }
    .boat_container{
        position: absolute;
        bottom: 0;
        z-index: 9;
        padding: 4px 10px;
        overflow: hidden;
        height: 130px;
        width: 130px;
        border-radius: 4px 4px 0 0;
        background-color: white;
        -moz-transition: all 0.15s ease-out;
        -webkit-transition: all 0.15s ease-out;
        -o-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
        -webkit-transition-delay: .15s;
        -moz-transition-delay: .15s;
        -o-transition-delay: .15s;
        transition-delay: .15s;
    }.boat_container:hover{
        box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
        height: 275px;
    }.boat_container.opacitize{
        opacity: .5;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }
    .boat_box{
        position: absolute;
        bottom: 0;
        height: 220px;
        width: 110px;
        overflow: hidden;
        background-color: white;
    }.boat_box img{
        width: 100%;
    }
    .boat_title{
        letter-spacing: 3px; 
        font-size: 15px;
    }

    #blogPosts{
        min-height: 200px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .blogPost_box{
        position: relative;
        overflow: hidden;
        /*border-bottom: 3px solid white;*/
        -moz-transition: all 0.15s ease-out;
        -webkit-transition: all 0.15s ease-out;
        -o-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
        -webkit-transition-delay: .15s;
        -moz-transition-delay: .15s;
        -o-transition-delay: .15s;
        transition-delay: .15s;
    }.blogPost_box:hover{
        border-color: #d0031c;
    }
    .blogPost_box.opacitize{
        opacity: .5;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }
    .blogPost_box img{
        width: 100%;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        -webkit-transition-delay: .15s;
        -moz-transition-delay: .15s;
        -o-transition-delay: .15s;
        transition-delay: .15s;
    }
    .blogPost_caption{
        color: rgb(50,50,60);
    }
    .blogPost_caption .caption_title{
        margin: 10px 0 5px 0;
    }
    .blogPost_caption .wing{
        position: absolute;
        width: 0%;
        bottom: 0;
        border-bottom: 2px solid #d0031c;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }.blogPost_caption .left_wing{
        right: 50%;
    }.blogPost_caption .right_wing{
        left: 50%;
    }
    .blogPost_box:hover .blogPost_caption .wing{
        width: 50%;
    }

@media screen and (min-width: 1350px){
    #boats{
        bottom: 100px;
        height: 280px;
    }
    .boat_container{
        padding: 10px;
        height: 130px;
        width: 170px;
    }.boat_container:hover{
        height: 300px;
    }
    .boat_box{
        height: 250px;
        width: 150px;
    }
}