@charset "UTF-8";

#carousel{
    position: relative;
    z-index: 5;
    /*opacity: .75;*/
    background-color: white;
    -moz-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
    -webkit-transition-delay: .15s;
    -moz-transition-delay: .15s;
    -o-transition-delay: .15s;
    transition-delay: .15s;
}#carousel:hover{
    /*opacity: .9;*/
    -webkit-transition-delay: .66s;
    -moz-transition-delay: .66s;
    -o-transition-delay: .66s;
    transition-delay: .66s;
}#carousel.opacitize{
    opacity: .5;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.carousel-inner{
}
.carousel-inner .item img{
    width: 100%;
}
.carousel-inner .item .carousel-caption{
    /*left: 0;*/
    bottom: 20%;
    width: 60%;
    height: 20%;
    padding: 10px;
    text-align: left;
    font-size: 24px;
    font-weight:lighter;
}
.carousel_caption_title{
    text-indent: -18px;
    letter-spacing: 3px;
    font-family: 'Paytone One', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,.7);
}.carousel_caption_title .fa{
    position: relative;
    bottom: 2px;
    color: #d0031c;
    font-size: 25px;
}
.carousel-caption p{
    display: inline-block;
    padding: 2px 4px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,.2);
    font-size: 18px;
    color: rgb(208,3,28);
    text-shadow: none;
}
.carousel-control .fa{
    position: absolute;
    top: 48%;
    color: white;
}
.carousel-indicators li{
    background-color: white;
    border-color: transparent;
}.carousel-indicators li.active{
    background-color: #d0031c;
    border-color:  #d0031c;
}

#boats{
    position: relative;
    height: 200px;
    background-color: transparent;
}
.boat_container{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 9;
    padding: 4px 10px;
    overflow: hidden;
    height: 130px;
    width: 130px;
    border-radius: 4px 4px 0 0;
    background-color: white;
    -moz-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    -webkit-transition-delay: .15s;
    -moz-transition-delay: .15s;
    -o-transition-delay: .15s;
    transition-delay: .15s;
}.boat_container:hover{
    box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
    height: 275px;
}.boat_container.opacitize{
    z-index: 8;
    opacity: .5;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.boat_container h5{
    margin: 0;
    padding: 10px 0;
}
.boat_box{
    position: absolute;
    bottom: 0;
    height: 220px;
    width: 110px;
    overflow: hidden;
    background-color: white;
}.boat_box img{
    width: 100%;
}
.boat_title{
    margin: 0;
    padding: 10px 0;
    letter-spacing: 3px; 
    font-size: 15px;
}.opacitize .boat_title{
    color: #777;
}

.separator{
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(230,230,230);
}

#blogPosts-space{
    min-height: 200px;
    margin-top: 50px;
    margin-bottom: 30px;
}
#blogPosts-space .col-md-4{
    padding: 0 2px;
}
.blogPost_box{
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    /*border-bottom: 3px solid white;*/
    -moz-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    -webkit-transition-delay: .15s;
    -moz-transition-delay: .15s;
    -o-transition-delay: .15s;
    transition-delay: .15s;
}.blogPost_box:hover{
    border-color: #d0031c;
}
.blogPost_box.opacitize{
    opacity: .5;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.blogPost_box img{
    width: 100%;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transition-delay: .15s;
    -moz-transition-delay: .15s;
    -o-transition-delay: .15s;
    transition-delay: .15s;
}
.blogPost_caption{
    color: rgb(180,180,180);
}
.blogPost_caption .caption_title{
    text-indent: 2px;
    font-size: 14px;
    color: #777;
    margin: 10px 0 15px 0;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}.blogPost_caption .caption_title .fa{
    color: #d0031c;
}.blogPost_box:hover .caption_title{
    color: #d0031c;
}
.blogPost_caption .wing{
    position: absolute;
    width: 0%;
    bottom: 0;
    border-bottom: 2px solid #d0031c;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}.blogPost_caption .left_wing{
    right: 50%;
}.blogPost_caption .right_wing{
    left: 50%;
}
.blogPost_box:hover .blogPost_caption .wing{
    width: 50%;
}

#distributeurs-space{
    margin-top: 50px;
}
#distributeurs-space .box{
    padding: 15px;
}
#distributeurs-space h3, #distributeurs-space h4{
    font-family: 'Paytone One', sans-serif;
}
#pieces_detachees_img{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .boat_title{
        letter-spacing: 0;
        font-size: 13px;
    }
}
@media screen and (min-width: 991px) and (max-width: 1200px){
    #pieces_detachees_img{
        width: 100%;
        height: 199px;
    }
}
@media screen and (min-width: 1200px){
    #pieces_detachees_img{
        width: 100%;
        height: 235px;
    }
}
@media screen and (min-width: 1350px){
    #boats{
        height: 200px;
    }
    .boat_container{
        overflow: hidden;
        padding: 10px;
        /*height: 130px;*/
        /*width: 170px;*/
    }.boat_container:hover{
        height: 300px;
    }
    .boat_box{
        /*height: 250px;*/
        width: 100%;
    }
}