@charset "UTF-8";

body{
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px
}
a, a:hover, a:visited, a:active, a:focus{
    text-decoration: none;
    color: #d0031c;
}
h1,h2,h3,h4,h5,h6{
    /*word-break: break-all;*/
    color: #d0031c;
}
h1{
    margin: 50px 0;
    font-family: 'Paytone One', sans-serif;
    font-size: 28px;
}
h2{
    /*font-family: 'Paytone One', sans-serif;*/
    font-size: 18px;
    font-weight: bold;
}

#loader{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: white;
}#loader .fa{
    position: absolute;
    top: 47%;
    left: 48%;
    color: #d0031c;
}

#searchScreen{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d0031c;
    opacity: .9;
}
#btn-search-close{
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 28px;
    background-color: white;
    text-align: center;
}#btn-search-close i{
    color: #d0031c;
}

#i18n{
    position: relative;
    z-index: 98;
    height: 15px;
    overflow: visible;
}
#i18n .form-group{
    position: absolute;
    z-index: 99;
    top: 10px;
    right: 10px;
    display: inline-block;
    max-width: 150px;
}
#flag{
    position: absolute;
    z-index: 99;
    right: 15px;
    top: 10px;
}

#logo{
    height: 100px;
    text-align: center;
}#logo img{
    height: 100%;
    /*padding: 20px 20px 10px 20px;*/
    padding: 10px;
}
.logo_wing{
    display: inline-block;
    width: 200px;
    height: 5px;
    border-bottom: 1px solid rgb(230,230,230);
}

#liner{
    width: 100%;
    height: 10px;
    background-color: #E7E7E7;
}#liner.red{
    background-color: #d0031c;
}

#hallmark{
    position: relative;
    top: 30px;
    margin-top: 40px;
    text-align: center;
}#hallmark img{
    width: 50px;
}

#footer-liner{
    height: 3px;
    /*border-top: 3px solid #d0031c;*/
    border-bottom: 3px solid #d0031c;
}
footer{
    min-height: 100px;
    margin-top: 0;
    padding: 45px 0;
    background-color: rgb(70,70,80);
    border: none;
}
.footer_item{
    display: inline-block;
    padding: 5px 10px;
    margin: 15px;
    background-color: #777;
    border-radius: 2px;
    -moz-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}.footer_item:hover{
    background-color: #d0031c;
}.footer_item a{
    color: white;
    text-decoration: none;
}.footer_item:hover a{
    color: white;
    text-decoration: none;
}

#social{
    text-align: right;
}#social i{
    display: inline-block;
    margin: 10px;
    background-color: #777;
    border-radius: 2px;
    color: white;
    -moz-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}#social i:hover{
    background-color: #d0031c;
    color: white;
}

