@charset "UTF-8";

body{
    font-family: 'Quicksand', sans-serif;
}
a, a:hover, a:visited, a:active, a:focus{
    text-decoration: none;
    color: #d0031c;
}
h1,h2,h3,h4,h5,h6{
    color: #d0031c;
}
h1{
    margin: 50px 0;
    font-family: 'Paytone One', sans-serif;
    font-size: 28px;
}
h2{
    /*font-family: 'Paytone One', sans-serif;*/
    font-size: 18px;
    font-weight: bold;
}

#loader{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: white;
}#loader .fa{
    position: absolute;
    top: 47%;
    left: 48%;
    color: #d0031c;
}

#logo{
    height: 100px;
    text-align: center;
}#logo img{
    height: 100%;
    /*padding: 20px 20px 10px 20px;*/
    padding: 10px;
}
.logo_wing{
    display: inline-block;
    width: 200px;
    height: 5px;
    border-bottom: 1px solid rgb(230,230,230);
}

#liner{
    width: 100%;
    height: 10px;
    background-color: #E7E7E7;
}#liner.red{
    background-color: #d0031c;
}

#hallmark{
    position: relative;
    top: 29px;
    margin-top: 40px;
    text-align: center;
}#hallmark img{
    width: 50px;
}
#footer-second-line{
    height: 15px;
    border-top: 1px solid #E7E7E7;
}
footer{
    min-height: 100px;
    padding-top: 30px;
    background-color: white;
}
.footer_item{
    display: inline-block;
    padding: 5px 10px;
    margin: 15px;
    background-color: #E7E7E7;
    -moz-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}.footer_item:hover{
    background-color: #d0031c;
}.footer_item a{
    color: #777;
    text-decoration: none;
}.footer_item:hover a{
    color: white;
}

#social{
    text-align: right;
}#social i{
    display: inline-block;
    margin: 10px;
    color: #d0031c;
}

