{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}
{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block extra_css %}
<style type="text/css">
    h6.post-meta{
        letter-spacing: 1.5px;
        font-size: 14px;
        font-weight: normal;
        color: #777;
    }
    .fa-long-arrow-right{
        padding: 5px 5px 0 0;
        color: #d0031c;
    }

    .borderize{
        border-left: 1px dashed #CCCCCC;
    }
    .articleIllustration-box{
        position: relative;
        overflow: hidden;
    }
    .article-illustration{
        width: 100%;
    }
    .article-hover{
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 0 15px;
        opacity: .9;
        text-align: center;
        background-color: #d0031c;
        -moz-transition: all .25s ease-out;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }.articleIllustration-box:hover .article-hover{
        top: 0;
    }
    .article-hover i{
        display: inline-block;
        color: white;
    }
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(window).load(function(){
        $('.articleIllustration-box').each(function(){
            $(this).children('.article-hover').height($(this).children('.article-illustration').height());
            articleH = $(this).children('.article-hover')
            i = articleH.children('i')
            i.css('margin-top',(articleH.height()-i.height())/2);
        });
    });
</script>
{% endblock %}


{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
<div id='liner'></div>
<div class='container'>
<div class='row'>
    <h1 class='text-center'>REGATES & EVENEMENTS</h1>
    {% for blog_post in blog_posts.object_list %}
        <div class='borderize col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
            {% block blog_post_list_post_title %}
                {% editable blog_post.title %}
                <h2>
                    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
                </h2>
                {% endeditable %}
            {% endblock %}

            {% block blog_post_list_post_metainfo %}
            {% editable blog_post.publish_date %}
                <h6 class="post-meta">
                    {% with blog_post.categories.all as categories %}
                        {% if categories %}
                        {% for category in categories %}
                            {{ category }} 
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        {% endif %}
                    {% endwith %}
                </h6>
            {% endeditable %}
            {% endblock %}

            <div class='row'>
                    <a href="{{ blog_post.get_absolute_url }}">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class='articleIllustration-box'>
                            {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                            {% block blog_post_list_post_featured_image %}
                                <img class="article-illustration" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 300 100 %}">
                                <div class='article-hover'><i class='fa fa-plus fa-lg'></i></div>
                            {% endblock %}
                            {% endif %}
                        </div>
                    </div>
                    </a>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {% block blog_post_list_post_content %}
                            {% editable blog_post.content %}
                                <i class='fa fa-long-arrow-right pull-left'></i>
                                {{ blog_post.description_from_content|safe }}
                            {% endeditable %}
                        {% endblock %}
                    </div>
            </div>

            {% block blog_post_list_post_links %}
                <div class="blog-list-detail">
                    {% keywords_for blog_post as tags %}
                    {% if tags %}
                        <ul class="list-inline tags">
                            {% trans "Tags" %}:
                            {% spaceless %}
                                {% for tag in tags %}
                                    <li>
                                        <a href="{% url "blog_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a>
                                        {% if not forloop.last %}, {% endif %}
                                    </li>
                                {% endfor %}
                            {% endspaceless %}
                        </ul>
                    {% endif %}
                    <p>
                        <a href="{{ blog_post.get_absolute_url }}">{% trans "read more" %}</a>
                    </p>
                </div>
            {% endblock %}
        </div>
    {% endfor %}

    <div class='col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
        {% pagination_for blog_posts %}
    </div>
</div>
</div>
{% endblock %}

