{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}
{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block extra_css %}
<style type="text/css">
    h1{
        margin: 50px 0;
        font-family: 'Paytone One', sans-serif;
        font-size: 28px;
    }
    h2{
        /*font-family: 'Paytone One', sans-serif;*/
        font-size: 18px;
        font-weight: bold;
    }
    h6.post-meta{
        letter-spacing: 1.5px;
        font-size: 14px;
        font-weight: normal;
        color: #777;
    }
    .fa-long-arrow-right{
        padding: 5px 5px 0 0;
        color: #d0031c
    }

    .borderize{
        border-left: 1px dashed #CCCCCC;
    }
    .article-illustration{
        width: 100%;
    }
</style>
{% endblock %}

{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
<div class='container'>
<div class='row'>
    <h1 class='text-center'>Régates & Evènements</h1>
    {% for blog_post in blog_posts.object_list %}
        <div class='borderize col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
            {% block blog_post_list_post_title %}
                {% editable blog_post.title %}
                <h2>
                    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
                </h2>
                {% endeditable %}
            {% endblock %}

            {% block blog_post_list_post_metainfo %}
            {% editable blog_post.publish_date %}
                <h6 class="post-meta">
                    {% with blog_post.categories.all as categories %}
                        {% if categories %}
                        {% for category in categories %}
                            {{ category }} 
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        {% endif %}
                    {% endwith %}
                </h6>
            {% endeditable %}
            {% endblock %}

            <div class='row'>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                        {% block blog_post_list_post_featured_image %}
                            <a href="{{ blog_post.get_absolute_url }}">
                                <img class="article-illustration" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 300 100 %}">
                            </a>
                        {% endblock %}
                        {% endif %}
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {% block blog_post_list_post_content %}
                            {% editable blog_post.content %}
                                <i class='fa fa-long-arrow-right pull-left'></i>
                                {{ blog_post.description_from_content|safe }}
                            {% endeditable %}
                        {% endblock %}
                    </div>
            </div>

            {% block blog_post_list_post_links %}
                <div class="blog-list-detail">
                    {% keywords_for blog_post as tags %}
                    {% if tags %}
                        <ul class="list-inline tags">
                            {% trans "Tags" %}:
                            {% spaceless %}
                                {% for tag in tags %}
                                    <li>
                                        <a href="{% url "blog_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a>
                                        {% if not forloop.last %}, {% endif %}
                                    </li>
                                {% endfor %}
                            {% endspaceless %}
                        </ul>
                    {% endif %}
                    <p>
                        <a href="{{ blog_post.get_absolute_url }}">{% trans "read more" %}</a>
                    </p>
                </div>
            {% endblock %}
        </div>
    {% endfor %}

    <div class='col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
        {% pagination_for blog_posts %}
    </div>
</div>
</div>
{% endblock %}

